/* CSS declarations go here */
.desktop{
  margin-left:60px;
  margin-right:60px;
}
.icon-black{
  color:black;
}
.-autocomplete-container {
  margin-top:30px;
}

.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
@media all and (max-width: 600px){
  .theplan{
    width:100% !important;
  }
}
.pricingdiv ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: black;
  background: white;
  position: relative;
  width: 250px; /* width of each table */
  margin-right: 10px; /* spacing between tables */
  margin-bottom: 1em;
  transition: all .5s;
  float: left;
  margin: 2%;
  border-left:5px solid purple;
  box-shadow: 0 0 1px gray;
}

.pricingdiv ul.theplan:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan li{
  margin: 10px 20px;
  position: relative;
}

.pricingdiv ul.theplan li.title{
  font-size: 150%;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid black;
  color:purple;
}

/* .pricingdiv ul.theplan:nth-of-type(2){
  background: #e53499;
}
.pricingdiv ul.theplan1:nth-of-type(2){
  background: #7c3ac9 !important;
}

.pricingdiv ul.theplan:nth-of-type(3){
  background: #2a2cc8;
}
.pricingdiv ul.theplan1:nth-of-type(3){
  background: #7c3ac9 !important ;
}
.pricingdiv ul.theplan:last-of-type{
  margin-right: 0;
} */

/*very last LI within each pricing UL */
.pricingdiv ul.theplan li:last-of-type{
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}

.pricingdiv a.pricebutton{
  background: purple;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight:bold;
}

@media only screen and (max-width: 800px) {
  .pricingdiv ul.theplan{
    /* border-radius: 0; */
    width: 100%;
    margin-right: 0;
  }

  .pricingdiv ul.theplan:hover{
    transform: none;
    box-shadow: none;
  }

  .pricingdiv a.pricebutton{
    display: block;
    text-align:center;
  }
  .zeraimg{
    left:15% !important;
    width:70% !important;
    margin-top:100px;
  }
  .chatbar{
    left:25% !important;
    width:60% !important;
  }
  .chatbot-header{
    margin-left:14px;
    margin-top:150px;
  }
  .searchbar{
    left:12% !important;
    width:75% !important;
  }
}

.bolder-underline{
  font-size: 1.4em;
  text-decoration: underline;
  font-family:open;
  font-style:italic;
  display:block;
  color:purple;
}
@media screen and (min-width: 800px) {
  .chatbot-header{
    margin-left:10px;
  }
  .zeraimg{
    margin-top:100px;
  }
  .-autocomplete-container{
    margin-left:45px;
  }
}
html, body{
  max-width:100%;
  overflow-x:hidden;
  background-color:#F0F0F0;
}
.input-xlarge{
  color:purple;
}
/* li::before {
    content:"\a";
    white-space:pre;
} */
@media all and (max-width: 600px){
  .activeingredient{
    width:100% !important;
  }
}
